In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#read super Covid-19 dataframe with state as index. 
Read = pd.read_csv("../../data/output/covid.csv")

## Choose Texas as specific State

In [3]:
#groups the column by States, and adds up cases of each county per state. 
#array = ['TX']
#MyStates = Read.loc[Read['State'].isin(array)]
States = Read.groupby(['State']).sum()
States = States.drop(["countyFIPS","stateFIPS"], axis=1)

## Seperate Cases and Deaths of Specific State

In [4]:
State_cases = States.filter(regex = "x").T.rename_axis('Date')
State_deaths = States.filter(regex = "y").T.rename_axis('Date')

In [5]:
#Display State Cases
State_cases.head()

State,AK,AL,AR,AZ,CA,CO,CT,DC,DE,FL,...,SD,TN,TX,UT,VA,VT,WA,WI,WV,WY
Date,,,,,,,,,,,,,,,,,,,,,
1/22/20_x,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1/23/20_x,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1/24/20_x,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1/25/20_x,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1/26/20_x,0,0,0,1,2,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [6]:
#Display State Deaths
State_deaths.head()

State,AK,AL,AR,AZ,CA,CO,CT,DC,DE,FL,...,SD,TN,TX,UT,VA,VT,WA,WI,WV,WY
Date,,,,,,,,,,,,,,,,,,,,,
1/22/20_y,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1/23/20_y,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1/24/20_y,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1/25/20_y,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1/26/20_y,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## Calculate New Cases and New Deaths of States

In [7]:
#Calculates differences of cases of each day (New Cases)
New_State_Cases = State_cases.diff()
New_State_Cases

State,AK,AL,AR,AZ,CA,CO,CT,DC,DE,FL,...,SD,TN,TX,UT,VA,VT,WA,WI,WV,WY
Date,,,,,,,,,,,,,,,,,,,,,
1/22/20_x,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1/23/20_x,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1/24/20_x,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1/25/20_x,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1/26/20_x,0.0,0.0,0.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10/10/20_x,248.0,1061.0,908.0,886.0,2693.0,1024.0,0.0,75.0,171.0,0.0,...,732.0,1648.0,4227.0,1376.0,1253.0,11.0,534.0,2971.0,220.0,128.0
10/11/20_x,256.0,817.0,613.0,605.0,2218.0,817.0,0.0,66.0,132.0,5545.0,...,615.0,2068.0,2515.0,26.0,814.0,10.0,0.0,2713.0,213.0,158.0
10/12/20_x,191.0,734.0,653.0,475.0,3036.0,581.0,1339.0,38.0,159.0,1520.0,...,363.0,2956.0,2550.0,2185.0,852.0,8.0,0.0,2016.0,152.0,191.0
10/13/20_x,151.0,1112.0,680.0,682.0,4475.0,1047.0,320.0,46.0,105.0,2735.0,...,414.0,1155.0,5267.0,905.0,1231.0,10.0,1749.0,3428.0,274.0,162.0
10/14/20_x,143.0,789.0,1080.0,903.0,3456.0,693.0,164.0,64.0,71.0,2911.0,...,876.0,1710.0,4883.0,1207.0,812.0,4.0,735.0,3323.0,268.0,213.0

In [8]:
#Calculates differences of cases of each day (New Cases)
New_State_Deaths = State_deaths.diff()
New_State_Deaths

State,AK,AL,AR,AZ,CA,CO,CT,DC,DE,FL,...,SD,TN,TX,UT,VA,VT,WA,WI,WV,WY
Date,,,,,,,,,,,,,,,,,,,,,
1/22/20_y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1/23/20_y,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1/24/20_y,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1/25/20_y,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1/26/20_y,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10/10/20_y,0.0,12.0,23.0,11.0,64.0,9.0,0.0,2.0,2.0,0.0,...,9.0,27.0,94.0,4.0,10.0,0.0,0.0,18.0,5.0,0.0
10/11/20_y,0.0,0.0,16.0,0.0,8.0,1.0,0.0,1.0,1.0,177.0,...,0.0,10.0,31.0,0.0,4.0,0.0,0.0,5.0,1.0,0.0
10/12/20_y,0.0,1.0,19.0,2.0,25.0,3.0,2.0,0.0,2.0,48.0,...,2.0,6.0,1.0,12.0,3.0,0.0,0.0,9.0,3.0,1.0
10/13/20_y,0.0,0.0,25.0,8.0,66.0,37.0,1.0,0.0,3.0,121.0,...,0.0,23.0,64.0,0.0,11.0,0.0,13.0,36.0,2.0,3.0
10/14/20_y,4.0,41.0,23.0,5.0,104.0,7.0,4.0,1.0,2.0,65.0,...,3.0,36.0,95.0,6.0,9.0,0.0,16.0,28.0,4.0,0.0

## Calculate weekly statistics

In [38]:
#Calculate mean number of new cases per week
WeeklyNewCasesMean =  New_State_Cases.groupby(np.arange(len(New_State_Cases))//7).mean().astype(int).rename_axis('Week')

In [46]:
WeeklyNewCases_Avg = WeeklyNewCasesMean.mean().to_frame().reset_index().round(1).rename(columns = {"0" : "Weekly Average"} )
WeeklyNewCases_Avg

   State       0
0     AK    40.1
1     AL   632.3
2     AR   372.4
3     AZ   853.3
4     CA  3245.3
5     CO   310.8
6     CT   229.9
7     DC    60.2
8     DE    83.5
9     FL  2780.2
10    GA  1253.9
11    HI    52.0
12    IA   398.6
13    ID   196.6
14    IL  1262.6
15    IN   545.3
16    KS   284.7
17    KY   332.8
18    LA   641.7
19    MA   600.0
20    MD   499.2
21    ME    21.8
22    MI   600.5
23    MN   419.3
24    MO   645.0
25    MS   410.2
26    MT    86.9
27    NC   912.2
28    ND   121.2
29    NE   218.4
30    NH    35.5
31    NJ   811.6
32    NM   138.0
33    NV   339.8
34    NY  1777.9
35    OH   680.6
36    OK   400.4
37    OR   147.8
38    PA   672.1
39    RI   120.5
40    SC   605.4
41    SD   129.6
42    TN   845.1
43    TX  3096.6
44    UT   352.3
45    VA   609.5
46    VT     6.7
47    WA   365.7
48    WI   684.7
49    WV    74.4
50    WY    34.3

In [42]:
WeeklyNewCases_MED = WeeklyNewCasesMean.median().to_frame().reset_index().round(1)
WeeklyNewCases_MED

   State       0
0     AK    12.0
1     AL   467.0
2     AR   323.0
3     AZ   452.0
4     CA  2763.0
5     CO   307.0
6     CT   142.0
7     DC    52.0
8     DE    87.0
9     FL  1221.0
10    GA   828.0
11    HI    14.0
12    IA   372.0
13    ID    64.0
14    IL  1385.0
15    IN   511.0
16    KS   209.0
17    KY   188.0
18    LA   535.0
19    MA   336.0
20    MD   550.0
21    ME    24.0
22    MI   713.0
23    MN   431.0
24    MO   235.0
25    MS   299.0
26    MT    17.0
27    NC  1030.0
28    ND    43.0
29    NE   217.0
30    NH    30.0
31    NJ   391.0
32    NM   131.0
33    NV   188.0
34    NY   724.0
35    OH   600.0
36    OK   128.0
37    OR    93.0
38    PA   753.0
39    RI    82.0
40    SC   401.0
41    SD    63.0
42    TN   512.0
43    TX  1562.0
44    UT   342.0
45    VA   786.0
46    VT     5.0
47    WA   371.0
48    WI   341.0
49    WV    36.0
50    WY    17.0

# Identify Counties of high Cases and Death Rate of Texas