# Trend calculation for the following states: MD,ME,MI,MN,MO,MS,MT,NC,ND,NE

In [ ]:
import pandas as pd

In [2]:
last_day_date = '9/14/20'
label_cases = '_x'
label_death = '_y'

In [7]:
#read the covid csv file 
covid_df = pd.read_csv('../data/output/new_covid.csv')

In [8]:
#group all the county by state 
States = covid_df.groupby(['State']).sum()

## Get the 10 choosen states

In [10]:
#get a specific range of states 
State= States[20:30:]
State

,countyFIPS,population,stateFIPS,1/22/20_x,1/23/20_x,1/24/20_x,1/25/20_x,1/26/20_x,1/27/20_x,1/28/20_x,...,9/5/20_y,9/6/20_y,9/7/20_y,9/8/20_y,9/9/20_y,9/10/20_y,9/11/20_y,9/12/20_y,9/13/20_y,9/14/20_y
State,,,,,,,,,,,,,,,,,,,,,
MD,577079,6045680.0,600,0,0,0,0,0,0,0,...,3853,3859,3862,3866,3869,3879,3884,3892,3897,3898
ME,368256,1344212.0,391,0,0,0,0,0,0,0,...,134,134,134,134,134,134,134,134,134,134
MI,2164889,9986857.0,2184,0,0,0,0,0,0,0,...,6802,6802,6807,6810,6871,6893,6900,6911,6911,6921
MN,2356569,5639632.0,2376,0,0,0,0,0,0,0,...,1851,1857,1860,1862,1869,1884,1897,1906,1919,1922
MO,3348537,6137428.0,3364,0,0,0,0,0,0,0,...,1638,1658,1659,1661,1672,1691,1701,1704,1705,1714
MS,2302724,2976149.0,2324,0,0,0,0,0,0,0,...,2567,2583,2584,2584,2619,2648,2661,2676,2691,2706
MT,1683136,1068778.0,1710,0,0,0,0,0,0,0,...,118,119,120,121,124,125,133,135,137,140
NC,3710000,10488084.0,3737,0,0,0,0,0,0,0,...,2888,2889,2896,2909,2957,2990,3023,3047,3052,3060
ND,2016809,762062.0,2052,0,0,0,0,0,0,0,...,155,156,156,156,157,160,164,167,168,170
NE,2891649,1934408.0,2914,0,0,0,0,0,0,0,...,404,404,404,407,422,428,435,435,435,436

## Get the trend for the cases in the last 7 days

In [11]:
#get the trend for cases in the 10 choosen states 
states_cases = State.columns.get_loc(last_day_date + label_cases)
cases_trend = State[State.columns[states_cases+(-6):states_cases+1]]
cases_trend

,9/8/20_x,9/9/20_x,9/10/20_x,9/11/20_x,9/12/20_x,9/13/20_x,9/14/20_x
State,,,,,,,
MD,113239,113575,114078,114724,115533,116110,116646
ME,4737,4760,4790,4834,4863,4904,4919
MI,118894,119851,120838,122246,123032,123032,124287
MN,81585,81805,82240,82716,83588,84310,84949
MO,95079,96435,97553,99118,101094,102700,104041
MS,87372,87795,88313,89166,89613,89865,90018
MT,8379,8467,8661,8785,8925,9021,9107
NC,179789,180692,181917,183450,184903,186101,186946
ND,13852,14109,14443,14684,15150,15575,15831
NE,36327,36768,37216,37695,37962,38042,38484

## For all the states, the number of confirmed cases is increasing every day

## Get the trend for the deaths in the last 7 days

In [13]:
#get the trend for death in the 10 choosen states 
states_death = State.columns.get_loc(last_day_date + label_death)
death_trend = State[State.columns[states_death+(-6):states_death+1]]
death_trend

,9/8/20_y,9/9/20_y,9/10/20_y,9/11/20_y,9/12/20_y,9/13/20_y,9/14/20_y
State,,,,,,,
MD,3866,3869,3879,3884,3892,3897,3898
ME,134,134,134,134,134,134,134
MI,6810,6871,6893,6900,6911,6911,6921
MN,1862,1869,1884,1897,1906,1919,1922
MO,1661,1672,1691,1701,1704,1705,1714
MS,2584,2619,2648,2661,2676,2691,2706
MT,121,124,125,133,135,137,140
NC,2909,2957,2990,3023,3047,3052,3060
ND,156,157,160,164,167,168,170
NE,407,422,428,435,435,435,436

### For all the states, the number of deaths is increasing every day except for ME state which remains constant.