In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
#read super Covid-19 dataframe with state as index. 
USCovid = pd.read_csv("../data/output/covid.csv")
Pop = pd.read_csv("https://covid.ourworldindata.org/data/ecdc/locations.csv")
AllCountries = pd.read_csv("https://covid.ourworldindata.org/data/ecdc/full_data.csv")
AllCountriesCases = pd.read_csv("https://covid.ourworldindata.org/data/ecdc/total_cases.csv")
AllCountriesDeaths = pd.read_csv("https://covid.ourworldindata.org/data/ecdc/total_deaths.csv")
USCovid = USCovid.drop(["Unnamed: 0","countyFIPS","stateFIPS"], axis=1)

In [4]:
covid_df = USCovid.drop(USCovid.loc[USCovid['County Name'] == "Statewide Unallocated"].index)
sums = covid_df.select_dtypes(pd.np.number).sum(axis = 0).rename('UnitedStates')

In [5]:
sums = sums.to_frame().transpose()
US_cases = sums.filter(regex = "x")
US_deaths = sums.filter(regex = "y")

In [6]:
US_cases[["1/29/20_x","1/30/20_x","1/31/20_x","2/1/20_x","2/2/20_x","2/3/20_x","2/4/20_x"]]

,1/29/20_x,1/30/20_x,1/31/20_x,2/1/20_x,2/2/20_x,2/3/20_x,2/4/20_x
UnitedStates,7,7,8,9,9,11,11

In [7]:
US_deaths

,1/22/20_y,1/23/20_y,1/24/20_y,1/25/20_y,1/26/20_y,1/27/20_y,1/28/20_y,1/29/20_y,1/30/20_y,1/31/20_y,...,10/3/20_y,10/4/20_y,10/5/20_y,10/6/20_y,10/7/20_y,10/8/20_y,10/9/20_y,10/10/20_y,10/11/20_y,10/12/20_y
UnitedStates,0,0,0,0,0,0,0,0,0,0,...,207181,207481,207573,208518,209445,210378,211293,211898,212402,212690

In [8]:
US_cases.iloc[:, list(range(8))]

,1/22/20_x,1/23/20_x,1/24/20_x,1/25/20_x,1/26/20_x,1/27/20_x,1/28/20_x,1/29/20_x
UnitedStates,1,1,2,2,5,6,6,7

In [9]:
for i in range(1, len(US_cases.columns), 7):
    columns = [US_cases.columns[i - 1], US_cases.columns[i], US_cases.columns[i+1], 
           US_cases.columns[i+2],US_cases.columns[i+3], US_cases.columns[i+4], US_cases.columns[i+5]]   
    US_cases['Mean_week '+str(int((i/7)+1))] = US_cases[columns].mean(axis=1)
    US_cases['Median_week '+str(int((i/7)+1))] = US_cases[columns].median(axis=1)

C:\Users\harin\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\harin\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [10]:
US_cases.transpose()

                UnitedStates
1/22/20_x       1.000000e+00
1/23/20_x       1.000000e+00
1/24/20_x       2.000000e+00
1/25/20_x       2.000000e+00
1/26/20_x       5.000000e+00
...                      ...
Median_week 36  6.984464e+06
Mean_week 37    7.269928e+06
Median_week 37  7.280968e+06
Mean_week 38    6.495388e+06
Median_week 38  7.557572e+06

[341 rows x 1 columns]

In [14]:
Five_CountriesCases = AllCountriesCases[["date","Bangladesh","Indonesia","Pakistan","Brazil","Nigeria","United States"]]
Five_CountriesDeaths = AllCountriesDeaths[["date","Bangladesh","Indonesia","Pakistan","Brazil","Nigeria","United States"]]
Five_CountriesCases[100:120]

,date,Bangladesh,Indonesia,Pakistan,Brazil,Nigeria,United States
100,2020-04-09,218.0,2956.0,4322.0,15927,276.0,432132
101,2020-04-10,330.0,3293.0,4601.0,17857,288.0,466033
102,2020-04-11,424.0,3512.0,4788.0,19638,305.0,501560
103,2020-04-12,482.0,3842.0,5038.0,20727,318.0,529951
104,2020-04-13,621.0,4241.0,5374.0,22169,323.0,557571
105,2020-04-14,803.0,4557.0,5716.0,23430,343.0,582594
106,2020-04-15,1012.0,4839.0,5988.0,25262,373.0,609516
107,2020-04-16,1231.0,5136.0,6505.0,28320,407.0,639664
108,2020-04-17,1572.0,5516.0,7025.0,30425,442.0,671331
109,2020-04-18,1838.0,5923.0,7481.0,33682,493.0,702164
110,2020-04-19,2144.0,6248.0,7993.0,36599,542.0,735086
111,2020-04-20,2456.0,6575.0,8418.0,38654,627.0,759687
112,2020-04-21,2948.0,6760.0,9216.0,40581,665.0,787752
113,2020-04-22,3382.0,7135.0,9749.0,43079,782.0,825041
114,2020-04-23,3772.0,7418.0,9749.0,45757,873.0,842629
115,2020-04-24,4186.0,7775.0,11155.0,49492,981.0,869172
116,2020-04-25,4689.0,8211.0,11940.0,52995,1095.0,890524
117,2020-04-26,4998.0,8607.0,12723.0,58509,1182.0,939053
118,2020-04-27,5416.0,8882.0,13328.0,61888,1273.0,965910
119,2020-04-28,5913.0,9096.0,14079.0,66501,1337.0,988451

In [17]:
CasesMean = Five_CountriesCases.groupby(np.arange(len(Five_CountriesCases))//7).mean()
DeathsMean = Five_CountriesDeaths.groupby(np.arange(len(Five_CountriesDeaths))//7).mean()

In [18]:
CasesMedian = Five_CountriesCases.groupby(np.arange(len(Five_CountriesCases))//7).median()
DeathsMedian = Five_CountriesDeaths.groupby(np.arange(len(Five_CountriesDeaths))//7).median()

In [19]:
CasesMean

,Bangladesh,Indonesia,Pakistan,Brazil,Nigeria,United States
0,NaN,0.000000,0.000000,0.000000e+00,0.000000,0.000000e+00
1,NaN,0.000000,0.000000,0.000000e+00,0.000000,0.000000e+00
2,NaN,0.000000,0.000000,0.000000e+00,0.000000,0.000000e+00
3,NaN,0.000000,0.000000,0.000000e+00,0.000000,1.857143e+00
4,NaN,0.000000,0.000000,0.000000e+00,0.000000,6.714286e+00
5,NaN,0.000000,0.000000,0.000000e+00,0.000000,1.171429e+01
6,NaN,0.000000,0.000000,0.000000e+00,0.000000,1.428571e+01
7,NaN,0.000000,0.000000,0.000000e+00,0.000000,2.371429e+01
8,NaN,0.285714,2.000000,1.142857e+00,0.571429,6.414286e+01
9,3.000000,5.000000,5.500000,9.428571e+00,NaN,2.778571e+02
10,3.000000,67.000000,22.142857,8.671429e+01,2.000000,1.950429e+03
11,14.428571,282.571429,439.857143,7.360000e+02,12.142857,1.661857e+04
12,43.428571,919.142857,1180.428571,3.002429e+03,67.857143,8.989057e+04
13,61.285714,1822.857143,2323.428571,7.929429e+03,174.142857,2.491909e+05
14,337.428571,3296.142857,4579.857143,1.744157e+04,286.000000,4.648931e+05
15,1579.428571,5542.000000,7018.000000,3.091029e+04,461.000000,6.714346e+05
16,4198.714286,7826.857143,11122.857143,5.032871e+04,978.714286,8.742973e+05
17,7661.142857,10154.571429,16991.857143,8.446057e+04,1949.285714,1.072237e+06
18,12396.714286,12808.714286,25977.285714,1.352550e+05,3555.000000,1.256279e+06
19,18909.142857,15927.571429,37214.000000,2.043224e+05,5226.571429,1.417793e+06
20,28590.428571,20095.571429,50290.857143,3.098590e+05,6985.000000,1.576235e+06
21,40793.428571,24538.000000,64360.571429,4.420906e+05,9054.142857,1.724694e+06
22,57695.428571,28965.857143,89710.142857,6.130193e+05,11520.285714,1.875363e+06
23,78074.000000,35260.428571,126228.714286,7.955867e+05,14520.000000,2.026061e+06
24,101785.285714,42658.571429,165461.714286,9.900727e+05,18460.000000,2.194727e+06
25,126641.285714,50312.285714,195860.714286,1.228844e+06,22695.142857,2.427164e+06
26,152615.142857,59318.142857,221155.285714,1.490712e+06,26980.428571,2.739120e+06
27,175036.857143,70294.714286,243327.571429,1.752310e+06,30848.571429,3.120713e+06
28,196116.000000,81692.571429,259683.142857,2.001467e+06,34872.285714,3.571797e+06
29,215802.285714,93567.571429,270343.428571,2.278608e+06,38909.428571,4.037379e+06
30,234394.285714,106127.000000,277694.142857,2.598853e+06,42630.000000,4.487813e+06
31,249666.000000,119134.142857,282624.714286,2.904829e+06,45300.000000,4.882409e+06
32,268939.714286,133076.142857,287295.000000,3.212796e+06,48042.714286,5.251215e+06
33,287445.857143,147287.142857,291416.285714,3.492289e+06,50895.428571,5.574125e+06
34,304283.142857,163350.714286,294921.714286,3.754953e+06,53250.714286,5.869397e+06
35,319356.142857,184227.428571,297528.857143,4.036008e+06,54565.428571,6.156534e+06
36,332712.000000,207378.285714,300510.571429,4.239215e+06,55789.571429,6.405255e+06
37,344202.285714,232865.142857,304362.714286,4.452913e+06,56792.571429,6.680129e+06
38,355116.428571,262083.142857,308890.428571,4.653167e+06,57886.714286,6.984877e+06
39,364814.571429,291162.714286,313318.857143,4.840523e+06,58959.285714,7.283291e+06
40,374387.857143,320233.285714,317533.857143,5.022717e+06,59855.428571,7.608960e+06
41,379738.000000,336716.000000,319848.000000,5.103408e+06,60430.000000,7.804197e+06

In [20]:
DeathsMean

,Bangladesh,Indonesia,Pakistan,Brazil,Nigeria,United States
0,NaN,0.000000,0.000000,0.000000,0.000000,0.000000
1,NaN,0.000000,0.000000,0.000000,0.000000,0.000000
2,NaN,0.000000,0.000000,0.000000,0.000000,0.000000
3,NaN,0.000000,0.000000,0.000000,0.000000,0.000000
4,NaN,0.000000,0.000000,0.000000,0.000000,0.000000
5,NaN,0.000000,0.000000,0.000000,0.000000,0.000000
6,NaN,0.000000,0.000000,0.000000,0.000000,0.000000
7,NaN,0.000000,0.000000,0.000000,0.000000,0.000000
8,NaN,0.000000,0.000000,0.000000,0.000000,0.428571
9,0.000000,0.000000,0.000000,0.000000,NaN,12.857143
10,0.000000,2.800000,0.000000,0.000000,0.000000,42.428571
11,0.714286,20.714286,1.857143,9.285714,0.000000,223.428571
12,4.571429,77.571429,9.000000,79.428571,1.000000,1449.142857
13,6.428571,165.000000,31.714286,311.000000,2.714286,6249.285714
14,23.000000,279.428571,70.142857,909.142857,7.285714,16697.714286
15,63.571429,494.285714,134.285714,1924.285714,14.714286,32945.857143
16,124.857143,662.857143,235.714286,3346.571429,30.428571,49061.571429
17,165.714286,798.571429,382.571429,5861.571429,61.857143,62529.571429
18,199.714286,919.428571,584.857143,9224.428571,112.714286,74945.000000
19,283.000000,1054.571429,803.714286,13947.000000,166.857143,85570.571429
20,411.000000,1283.000000,1058.428571,19913.714286,208.857143,94461.285714
21,566.857143,1497.714286,1345.714286,26623.285714,259.428571,101456.428571
22,779.000000,1735.000000,1845.857143,33588.000000,325.714286,108024.714286
23,1053.000000,2005.428571,2451.142857,40574.142857,388.714286,113656.285714
24,1342.285714,2330.142857,3229.857143,47572.142857,476.285714,118292.428571
25,1620.571429,2626.428571,3947.857143,54767.142857,546.571429,123486.714286
26,1923.000000,2985.428571,4545.142857,61818.571429,612.714286,128487.000000
27,2230.571429,3419.428571,5055.428571,69049.000000,695.571429,133071.714286
28,2502.000000,3878.857143,5470.857143,76447.285714,766.571429,138252.428571
29,2795.285714,4536.285714,5748.428571,83878.714286,830.142857,144192.142857
30,3068.571429,5047.428571,5931.142857,91099.428571,875.571429,151810.142857
31,3298.285714,5519.571429,6049.571429,98190.142857,926.571429,159612.571429
32,3550.285714,5957.428571,6148.285714,105149.857143,964.285714,167016.285714
33,3820.857143,6431.714286,6215.571429,112025.714286,990.000000,174046.285714
34,4121.142857,7056.857143,6277.857143,118428.142857,1009.571429,180560.571429
35,4377.000000,7726.428571,6329.428571,124392.142857,1039.000000,186581.714286
36,4628.285714,8438.428571,6368.428571,129388.000000,1072.714286,191755.285714
37,4853.714286,9209.285714,6405.714286,134769.428571,1091.714286,197465.428571
38,5069.285714,10072.571429,6444.428571,139692.714286,1103.000000,202633.428571
39,5273.285714,10835.428571,6495.571429,144476.857143,1112.000000,207672.571429
40,5454.428571,11566.428571,6550.285714,148811.285714,1113.571429,212658.571429
41,5555.000000,11935.000000,6588.000000,150689.000000,1115.000000,215085.000000

In [21]:
CasesMedian

    Bangladesh  Indonesia  Pakistan   Brazil  Nigeria  United States
0          NaN        0.0       0.0        0      0.0              0
1          NaN        0.0       0.0        0      0.0              0
2          NaN        0.0       0.0        0      0.0              0
3          NaN        0.0       0.0        0      0.0              1
4          NaN        0.0       0.0        0      0.0              6
5          NaN        0.0       0.0        0      0.0             12
6          NaN        0.0       0.0        0      0.0             15
7          NaN        0.0       0.0        0      0.0             16
8          NaN        0.0       2.0        1      1.0             60
9          3.0        5.0       5.5        8      NaN            233
10         3.0       69.0      21.0       77      2.0           1663
11        10.0      227.0     478.0      621      8.0          14250
12        48.0      893.0    1197.0     2915     65.0          85991
13        56.0     1790.0    2291.0     7910    174.0         245540
14       330.0     3293.0    4601.0    17857    288.0         466033
15      1572.0     5516.0    7025.0    30425    442.0         671331
16      4186.0     7775.0   11155.0    49492    981.0         869172
17      7667.0    10118.0   16817.0    85380   1932.0        1069826
18     12425.0    12776.0   25837.0   135106   3526.0        1256972
19     18863.0    16006.0   37218.0   202918   5162.0        1417889
20     28511.0    20162.0   50694.0   310087   7016.0        1577287
21     40321.0    24538.0   64028.0   438238   8915.0        1721750
22     57563.0    28818.0   89249.0   614932  11516.0        1872660
23     78052.0    35295.0  125933.0   802828  14554.0        2023347
24    102292.0    42762.0  165062.0   978142  18480.0        2191052
25    126606.0    50187.0  195745.0  1228114  22614.0        2422310
26    153277.0    59394.0  221896.0  1496858  27110.0        2739879
27    175494.0    70736.0  243599.0  1755779  30748.0        3118008
28    196323.0    81668.0  259999.0  2012151  34854.0        3576221
29    216110.0    93657.0  270400.0  2287475  38948.0        4034102
30    234889.0   106336.0  278305.0  2610102  42689.0        4495014
31    249651.0   118753.0  282645.0  2912212  45244.0        4883646
32    269115.0   132816.0  287300.0  3224876  48116.0        5248242
33    287959.0   147211.0  291588.0  3501975  50964.0        5573847
34    304583.0   162884.0  295053.0  3761391  53317.0        5867785
35    319686.0   184268.0  297512.0  4041638  54587.0        6150655
36    332970.0   207203.0  300371.0  4238446  55829.0        6397227
37    344264.0   232628.0  304386.0  4455386  56735.0        6674458
38    355384.0   262022.0  309015.0  4657702  57849.0        6978417
39    364987.0   291182.0  313431.0  4847092  59001.0        7277814
40    374592.0   320564.0  317595.0  5028444  59841.0        7606594
41    379738.0   336716.0  319848.0  5103408  60430.0        7804197

In [22]:
DeathsMedian

    Bangladesh  Indonesia  Pakistan  Brazil  Nigeria  United States
0          NaN        0.0       0.0       0      0.0              0
1          NaN        0.0       0.0       0      0.0              0
2          NaN        0.0       0.0       0      0.0              0
3          NaN        0.0       0.0       0      0.0              0
4          NaN        0.0       0.0       0      0.0              0
5          NaN        0.0       0.0       0      0.0              0
6          NaN        0.0       0.0       0      0.0              0
7          NaN        0.0       0.0       0      0.0              0
8          NaN        0.0       0.0       0      0.0              0
9          0.0        0.0       0.0       0      NaN             12
10         0.0        4.0       0.0       0      0.0             40
11         0.0       19.0       2.0       6      0.0            150
12         5.0       78.0       9.0      77      1.0           1296
13         6.0      170.0      31.0     299      2.0           6053
14        21.0      280.0      66.0     941      7.0          16690
15        60.0      496.0     135.0    1924     13.0          33284
16       127.0      647.0     237.0    3313     31.0          49963
17       168.0      792.0     385.0    5901     58.0          63006
18       199.0      930.0     594.0    9146    107.0          75670
19       283.0     1043.0     803.0   13993    167.0          85906
20       408.0     1278.0    1067.0   20047    211.0          94702
21       559.0     1496.0    1317.0   26754    259.0         101617
22       781.0     1721.0    1838.0   34021    323.0         108211
23      1049.0     2000.0    2463.0   40919    387.0         113820
24      1343.0     2339.0    3229.0   47748    475.0         118434
25      1621.0     2620.0    3962.0   54971    549.0         124416
26      1926.0     2987.0    4551.0   61884    616.0         128740
27      2238.0     3417.0    5058.0   69184    689.0         133291
28      2496.0     3873.0    5475.0   76688    769.0         138358
29      2801.0     4576.0    5763.0   84082    833.0         144242
30      3083.0     5058.0    5951.0   91263    878.0         152070
31      3306.0     5521.0    6052.0   98493    930.0         160104
32      3557.0     5968.0    6153.0  105463    966.0         167110
33      3822.0     6418.0    6219.0  112304    992.0         174255
34      4127.0     7064.0    6283.0  118649   1011.0         180824
35      4383.0     7750.0    6335.0  124614   1048.0         186797
36      4634.0     8456.0    6370.0  129522   1075.0         191789
37      4859.0     9222.0    6408.0  134935   1093.0         197633
38      5072.0    10105.0    6444.0  139808   1102.0         202810
39      5272.0    10856.0    6499.0  144680   1112.0         207808
40      5460.0    11580.0    6552.0  148957   1113.0         212773
41      5555.0    11935.0    6588.0  150689   1115.0         215085